body {
  height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 86%);
  font-family: Poppins;

  display: flex;
  flex-direction: column;
}

main {
  background-color: white;
  margin: auto;
  padding: 60px;
  width: 60%;

  border-radius: 20px 20px 180px 20px;
}


.input-section {
  position: relative;
  display: flex;
  gap: 40px;
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
  padding-right: 180px;
}

.input-group  {
  width: 100%;
}

.input-group .invalid {
  color: hsl(0, 100%, 67%);
}

.error-message {
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 67%);
}

.input-section label {
  font-weight: 600;
  font-size: 16px;
  color: hsl(0, 0%, 8%);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input-group input {
  width: 80%;
  font-size: 32px;
  font-weight: 800;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
}

.input-group .error-input {
  border-color: hsl(0, 100%, 67%);
}

button {
  background-color: hsl(259, 100%, 65%);
  border: none;
  width: auto;
  height: auto;
  padding: 30px;
  border-radius: 100%;
  cursor: pointer;

  position: absolute;
  right: 0px;
  bottom: -55px;
}

button:active {
  background-color: black;
}

.output-section {
  margin-top: 60px;
  line-height: 0;
}

.output-section p {
  font-size: 90px;
  font-weight: 800;
  font-style: italic;
}

.output-section span {
  color: hsl(259, 100%, 65%);
  font-size: 100px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 375px) {
  main {
   padding: 40px 20px;
   width: 80%;
   border-radius: 20px 20px 100px 20px;
  }

  .input-section {
    padding-right: 0;
    padding-bottom: 30px;
    gap: 12px;
  }

  .input-section label {
    font-size: 14px;
  }

  .input-section input {
    width: 60%;
    height: 16px;
    font-size: 18px;
    padding: 14px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .error-message {
    font-size: 10px;
  }
   
  button {
    padding: 16px;
    right: 120px;
    bottom: -50px;
    margin-bottom: 20px;
  }

  button img {
    width: 24px;
    height: 24px;
    color: black;
  }

  .output-section p,
  .output-section span {
    font-size: 50px;
  }
}